<ion-view title="Dr Ruth Cardoso" id="page2" style="background-color:#A8DEF0;">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/ypsM9StaQIGSOqMfMdHq_etecdrc.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="drRuthCardoso-markdown2" style="color:#000000;font-size:14px;text-align:center;">
            <p>
                <strong>Sobre</strong>
            </p>

            <p>A ETEC Doutora Ruth Cardoso iniciou suas atividades como Classes Descentralizadas da ETEC Dona Escolástica Rosa, o anúncio de sua implantação foi feito em fevereiro de 2008 pelo Governador José Serra em uma visita à região da Baixada Santista.</p>
        </div>
    </ion-content>
</ion-view>