<ion-view title="Produto" id="page6" style="background-color:#A8DEF0;">
    <ion-content padding="true" style="background: url(img/u2TbV3OJRrqLRu0ciXib_ionic.png) no-repeat center;background-size:cover;" class="has-header">
        <div id="produto-markdown4" style="color:#000000;font-size:14px;text-align:center;">
            <p>
                <strong>Ionic Creator</strong>
            </p>

            <p>O produto se trata de um aplicativo movel para a instituição Etec Dr Ruth Cardoso</p>
        </div>
    </ion-content>
</ion-view>